<div class="main-div">
    <mat-card>
        <div class="colum2">
            <div class="center2" >
                <mat-card-header>
                    <mat-card-title style="color:white">Welcome to back!</mat-card-title>
                </mat-card-header>
                <mat-card-header>
                    <mat-card-subtitle class="font1" style="color:white" align="center">To keep connected
                    </mat-card-subtitle>
                    <mat-card-subtitle class="font1" style="color:white" align="center">with us please login
                    </mat-card-subtitle>
                    <mat-card-subtitle class="font1" style="color:white" align="center">your personal info
                    </mat-card-subtitle>
                </mat-card-header>
                <div>
                    <mat-card-actions>
                        <button mat-raised-button class="buttons-signUp font1">Login</button>
                    </mat-card-actions>
                </div>
            </div>

        </div>
        <div class="colum1">

            <mat-card-content>
                <br>
                <div class="center font1">
                    <mat-card-header>
                        <mat-card-title class="title">Create account</mat-card-title>
                    </mat-card-header>
                    <br>
                    <mat-card-header>
                        <mat-card-subtitle class="subtitle">or use your email registration</mat-card-subtitle>
                    </mat-card-header>
                    <br>

                    <mat-card-subtitle class="or"> ----------------- OR ------------------</mat-card-subtitle>
                    <br>
                    <div class="center">
                        <form >
                            <input placeholder="Name" name="name" class="inputs font1">
                        </form>
                        <br>
                        <form >
                            <input placeholder="Email" name="email" class="inputs font1">
                        </form>
                        <br>
                        <form >
                            <input matInput placeholder="password" type="password" class="inputs font1">
                        </form>
                    </div>
                </div>


            </mat-card-content>
            <div>
                <mat-card-actions>
                    <button mat-raised-button class="buttons-login font1">Sign up</button>
                </mat-card-actions>
            </div>
        </div>
       
    </mat-card>
</div>