<section class="">
    <div class="main-container">
        <div class="item-info">
            <div class="column1">
                <img class="item-img" [src]="product.url_img" alt="">
            </div>
            <form class="column2">
                <div class="item-details">
                    <h1 class="item-title">{{product.title}}</h1>
                    <p class="item-description">{{product.description}}</p>
                    <h2 class="item-owner">Owner: <span class="owner-name">{{product.author}}</span></h2>
                    <h3 class="item-publication-date">{{product.fec_publ}}</h3>
                    <h2 class="item-price">{{product.price}}</h2>
                    <h4 class="item-quantity">{{quantity}} units</h4>
                    <div class="actions-container">
                        <div class="inc-dec-container">
                            <input type="button" value="-"
                                class="button-minus border rounded-circle  icon-shape icon-sm mx-1"
                                (click)="decrementQuantity()">
                            <input type="number" value="{{quantityValue}}" min="0" max="{{quantity}}"
                                class="input quantity-field border-0 text-center">
                            <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm"
                                (click)="increaseQuantity()">
                        </div>
                        <button class="btn btn-primary" (click)="sales(product, quantityValue)">Buy Artwork</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="item-review">
            <h1 class="section-title">Reviews</h1>
            <div class="reviewers-grid">
                <div class="item-grid" *ngFor="let user of reviews">
                    <div class="user-img">
                        <img class="img" src="{{user.image}}" alt="">
                    </div>
                    <div class="user-details">
                        <p class="user-review">«{{user.review}}»</p>
                        <h2 class="user-name">{{user.name}}</h2>
                        <h3 class="user-instagram">{{user.instagram}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>