.imgUser{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
.indexIcons{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}
.footerInfoUser{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
}

/* .infoImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.ShoopingCart{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;
}

.nameAuthor{
    font-size: 0.78em !important;
    font-weight: bold;
}