<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a href="index.html">{{infoService.info.title}}</a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item"><a href="index.html" class="rk-menu__link">Home</a>
          </li>
          <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">About us</a>
          </li>
          <li class="rk-menu__item"><a href="#0" class="rk-menu__link">Category's</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">Abstract</a></li>
                <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Cartoon</a></li>
                <li class="rk-menu__item"><a href="design-styles.html" class="rk-menu__link">Nature</a></li>
              </ul>
            </nav>
          </li>
          <li class="rk-menu__item" data-bs-toggle="modal" data-bs-target="#signUpModal">
              <!-- <i class="bi bi-person-circle"></i> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
          </li>
        </ul>
        <form class="rk-search">
          <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </form>
      </nav>
    </div>
  </header>
